html, body {
  height: 100%;
}

html, body, p, ol, ul, li {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

p + p {
  margin-top: 1em;
}

.tile {
  border: 1px solid black;
  border-radius: 2px;
  margin: 1px;
  background: white;
}

.tile.owndiscard {
  opacity: 0.5;
}

.player .tiles { display: block; min-height: 54px; }
.player .open { display: block; min-height: 54px; }

.player .log {
  display: block;
  height: calc(100vh - 110px);
  overflow: auto;
  border: 1px solid black;
  border-width: 1px 0;
  background: white;
}

.log p {
  margin: 0;
}

.log p + p {
  margin-top: 0.1em;
}

.player {
  position: relative;
  background: inherit;
  border: 1px solid black;
  border-width: 1px 0;
}

.player.active { background: #449944; }

.discard {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 108px;
  background: #449944;
  padding: calc(54px / 2);
  box-sizing: border-box;
}

.discard.menu {
  padding: 0;
}

.discard.menu button {
  width: 100%;
  height: calc(100% / 6);
  font-size: 85%;
  border: 1px solid grey;
}
.discard.menu button + button {
  margin-top: 2px;
}

.discard.menu button.chow {
  width: 33%;
  display: inline-block;
  padding: 0;
  font-size: 70%;
}

.winmenu {
  background: blue;
}

.wall { margin: 0.5em; }
.wall img { width: 1%; }

.discards { margin: 0.5em; }
.discards img { width: 4%; }

.others { margin: 0.5em; }
.others img { width: 4%; }
.others span + span { margin-left: 1em; }
.others .name { vertical-align: 14px; }