html, body {
  height: 100%;
}

html, body, p, ol, ul, li {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

p + p {
  margin-top: 1em;
}

.tile {
  border: 1px solid black;
  border-radius: 2px;
  margin: 1px;
  background: white;
  width: 5%;
}

.tile.highlight {
  border-bottom: 5px solid black;
  margin-bottom: -3px;
}

.tile.owndiscard {
  opacity: 0.5;
}

.player {
  position: relative;
  background: inherit;
  border: 1px solid black;
  border-width: 1px 0;
}


.player .kongs-and-scores {
  position: absolute;
  right: calc(100px + 0.5em);
  bottom: 0.2em;
}

.player .kongs {

}

.player .kongs button {
  padding: 0px;
  border: medium none;
  margin: 0px 3px;
  border-radius: 3px;
}

.player .score {}

.player .tiles { display: block; min-height: 58px; }
.player .open { display: block; min-height: 58px; }

.player .log {
  display: block;
  height: calc(100vh - 110px);
  overflow: auto;
  border: 1px solid black;
  border-width: 1px 0;
  background: white;
}

.log p {
  margin: 0;
}

.log p + p {
  margin-top: 0.1em;
}

.discard {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 116px;
  background: #449944;
  padding: calc(58px / 2);
  box-sizing: border-box;
  background-size: 100% 100%;
  border-left: 1px solid black;
}

.discard.east { background-image: url(../images/winds/east.png); }
.discard.south { background-image: url(../images/winds/south.png); }
.discard.west { background-image: url(../images/winds/west.png); }
.discard.north { background-image: url(../images/winds/north.png); }

.discard .tile {
  width: 82%;
}

.discard.menu {
  padding: 0;
}

.discard.menu button {
  width: 100%;
  height: calc(100% / 6);
  font-size: 85%;
  border: 1px solid grey;
}
.discard.menu button + button {
  margin-top: 2px;
}

.discard.menu button.chow {
  width: 33%;
  display: inline-block;
  padding: 0;
  font-size: 70%;
}

.winmenu {
  background: blue;
}

.wall { margin: 0.5em; }
.wall img { width: 1%; }

.discards { margin: 0.5em; }
.discards img { width: 4%; }

.players .otherplayer { margin: 1px; border: 1px solid transparent; padding: 5px; }
.players .otherplayer img { width: 4%; }
.players .otherplayer span + span { margin-left: 1em; }
.players .otherplayer .name { vertical-align: 14px; }

.players .otherplayer.ourturn {
  background-image: url(../images/waiting.gif);
  background-position: right center;
  background-repeat: no-repeat;
}

.players .otherplayer.winner { background: #ffe691; }
.players .otherplayer + .otherplayer { border-top: 1px solid black; }
.players .otherplayer:last-child { border-bottom: 1px solid black; }

.player { background: #449944; color: white; }
.player.winner { background: #ffe691; }
.player.draw   { background: #ffe9e9; }

.handinfo {
  position: absolute;
  bottom: 0px;
  background: rgb(217, 233, 222);
  border-top: 1px solid black;
}


/**
 * GAME LOBBY STYLING
 */


.lobby .games:before {
  color: black;
  content: "Current games list";
  background: white;
  padding: 0.5em;
  position: absolute;
  top: -1.25em;
  left: 0.25em;
}

.lobby .games {
  position: relative;
  border: 1px solid lightgrey;
  margin: 1em;
  padding: 1em;
  min-width: 40em;
  display: inline-block;
}

.lobby .games .game {
  background: white;
}

.lobby .games .game:nth-child(2n) {
  background: lightsteelblue;
}

.lobby .games .game + .game {
  margin-top: 0.25em;
}

.lobby .games .game button {
  border: none;
  background: #269279;
  color: white;
  font-family: verdana;
}

.lobby .new:before {
  color: black;
  content: "Start a new game";
  background: white;
  padding: 0.5em;
  position: absolute;
  top: -1.25em;
  left: 0.25em;
}
.lobby .new {
  position: relative;
  border: 1px solid lightgrey;
  margin: 1em;
  padding: 1em;
  display: inline-block;
  min-width: 40em;
}

.lobby .new * + * {
  margin-left: 1em;
}

.lobby .new button {
  border: 1px solid black;
  background: #269279;
  color: white;
}

.lobby .player-information:before {
  color: black;
  content: "Information about you!";
  background: white;
  padding: 0.5em;
  position: absolute;
  top: -1.25em;
  left: 0.25em;
}

.lobby .player-information {
  position: relative;
  border: 1px solid lightgrey;
  margin: 1em;
  padding: 1em;
  display: inline-block;
  min-width: 40em;
}