:root {
    --w: 45em;
    --h: var(--w);
}

.board {
  position: relative;
  width: var(--w);
  height: var(--h);
  background-color: var(--board-background);
  outline: none;
}

.board .players {
  transform: scale(-1, -1);
  transform-origin: 50% calc(var(--h) / 2);
}

.board .corner {
  position: absolute;
  width: 7.5rem;
  z-index: 10;
  color: var(--board-text-color);
  text-shadow:
    -1px -1px 0 var(--board-shadow),
     1px -1px 0 var(--board-shadow),
    -1px  1px 0 var(--board-shadow),
     1px  1px 0 var(--board-shadow);
  font-family: verdana;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: right;
}

.board .corner.wall.data {
  right: 5rem;
  top: calc(var(--ph) * 1.5);
}

.board .corner.settings {
  cursor: pointer;
  color: var(--board-secondary-text-color);
  left: 2rem;
  bottom: calc(var(--ph) * 1.5);
}

.board .corner.theming {
  cursor: pointer;
  color: var(--board-secondary-text-color);
  right: 5rem;
  bottom: calc(var(--ph) * 1.5);
}