:root {
  --html-background: var(--green);
  --page-background: var(--white);

  --modal-light: var(--denim);
  --modal-dark: var(--dark-blue);
  --modal-overlay: var(--transparent-olive);
  --modal-panel-background: var(--white);
  --modal-panel-border: var(--black);
  --modal-close: var(--off-black);
  --modal-button-border: var(--gray);
  --modal-button-background: var(--medium-gray);
  --modal-customized: var(--schoolbus);

  --table-outer: var(--black);
  --table-separator: var(--gray);
  --table-alternate: var(--light-gray);

  --scores-details: var(--blue);
  --scores-east: var(--chiffon);

  --board-background: var(--green);
  --board-shadow: var(--purple);
  --board-text-color: var(--gold);
  --board-secondary-text-color: var(--silver);

  --sidebar-border: var(--black);
  --sidebar-overlay: var(--transparent-black);

  --announcement-outline: var(--purple);

  --discard-background: var(--purple);
  --discard-pause-text-color: var(--purple);
  --discard-pause-text-shadow: var(--cream);
  --discard-exhausted: var(--transparent-purple);
  --discard-paused: var(--transparent-purple);
  --discard-finished: var(--transparent-purple);

  --countdown-bar: var(--gold);

  --player-background: var(--cream);
  --player-text-color: var(--cream);
  --player-text-shadow: var(--purple);
  --player-id-shadow: var(--purple);
  --player-id-background: var(--green);
  --player-score-background: var(--purple);

  --player-active: var(--blue);
  --player-waiting: var(--yolk);
  --player-winner: var(--gold);
  --player-game-winner: var(--indigo);

  --tile-border: var(--black);
  --tile-background: var(--almost-white);
  --tile-suggestion: var(--purple);
  --tile-discard: var(--cream);
  --tile-concealed: var(--green);

  --tile-bonus: var(--red);
  --tile-winning: var(--lime);
  --tile-latest: var(--lime);
  --tile-highlight: var(--lime);
  --tile-selectable: var(--denim);
  --tile-suggestion-highlight: var(--fuschia);

  --windicator-color: var(--gold);
  --windicator-border: var(--gold);
  --windicator-background: var(--dark-green);
  --windicator-outline: var(--purple);
  --windicator-done: var(--white);
  --windicator-shadow: var(--black);
  --windicator-player-wind: var(--gold);
  --windicator-player-wind-background: var(--purple);
  --windicator-player-wind-border: var(--gold);
  --windicator-wotr-background: var(--indigo);
  --windicator-wotr-border: var(--gold);
  --windicator-wotr-shadow: var(--black);
}
