/**
 * This file purely exists to get separation between locked sets.
 * Since locked sets are based on `locknum` data attributes, we
 * can't just use conditional logical because... well... CSS
 *
 * However, there can only be so many tiles in a locked hand,
 * so we can specify the margin we need, and then have some JS
 * generate the rest of the stylesheet.
 */

 game-tile { --mr: 5px; }
 game-tile:not([locknum]) + game-tile[locknum] { margin-left: var(--mr); }
 game-tile[locknum] + game-tile:not([locknum]) { margin-left: var(--mr); }
 game-tile[bonus] + game-tile:not([locked]) { margin-left: var(--mr); }


 /* continued in src/js/page/tiles-locknum.js */
