html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #333;
  color: white;
}

img.tile {
  width: 2em;
  margin: 1px;
  vertical-align: middle;
}

.wall img.tile {
  width: 1em;
}

.discards-seen img.tile {
  width: 1.5em;
}

img.tile.highlight {
  margin: 0;
  border-bottom: 1px solid red;
  padding-bottom: 3px;
  margin-bottom: -3px;
}

.name {
  line-height: 1.25;
  font-size: 1rem;
}

.name a, .name a:visited {
  color: inherit;
}

.player {
  clear: both;
}
.player + .player {
  margin-top: 4px;
}

.player .tiles,
.player .handsize,
.player .revealed,
.player .revealed .set,
.player .bonus,
.player .currentDiscard {
  display: inline-block;
}

.player .revealed,
.player .bonus,
.player .currentDiscard {
  margin-left: 0.5rem;
}

.player .revealed {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid white;
}

.player .revealed .set + .set {
  margin-left: 0.25rem;
}

.discard {
  height: 3rem;
}

img.player-thumb {
  clear: both;
  float: left;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 100%;
  background: #444;
  margin: 1.25rem 0.5rem 0 0.5rem;
}
