html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #333;
  color: white;
}

img.tile {
  margin: 1px;
  vertical-align: middle;
}

.name a, .name a:visited {
  color: inherit;
}

.others .player .handsize,
.others .player .revealed,
.others .player .bonus {
  display: inline-block;
}

.discard {
  height: 3em;
}